/* FLEX HOLDER */
.videoList.flex {
	gap: 10px;
	flex-flow: column;
	align-items: stretch;
	margin-bottom: 1.2rem;
}
.videoList.flex>div {
	justify-content: center;
	margin: 0;
	width: auto;
}
/* ITEMS */
.videoList.flex .video {
	margin-right: 1rem;
	margin-top: 12px;
	flex-basis: 540px;
}
.videoList.flex .info {
	flex-basis: 250px;
}

/* VIDEO LISTS*/
.info>p:first-of-type {
	border-bottom: 2px solid black;
	border-image: url(../img/PTWiki-underlineborder.png) 0 0 2 0 / 0 0 2px 0 round round;
	padding-bottom: 1em;
}
.info>p:not(:first-of-type) { /* Credits */
	margin: 0.4em 0;
	font-size: 0.9em;
}