/* FONTS */
@font-face {
		font-family: "Pizza Tutorial"; 
		src: url("font/Pizza Tutorial.ttf") format("truetype"); /*https://drive.google.com/file/d/1MVQ8b1N8qh_UmNnUoJb6s_4N4e0uCMHR/view*/
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		-webkit-font-smoothing: none;
}
@font-face {
		font-family: "Small Pizza"; 
		src: url("font/Small Pizza Inline.ttf") format("truetype"); /*https://drive.google.com/file/d/1MVQ8b1N8qh_UmNnUoJb6s_4N4e0uCMHR/view*/
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		-webkit-font-smoothing: none;
}
@font-face {
		font-family: "Large Pizza"; 
		src: url("font/Big Pizza Inline.ttf") format("truetype"); /*https://drive.google.com/file/d/1MVQ8b1N8qh_UmNnUoJb6s_4N4e0uCMHR/view*/
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		-webkit-font-smoothing: none;
}

@keyframes AlbumSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {

		transform: rotate(360deg);
	}
}

@keyframes AlbumRaise {
	0% {
		transform: translateY(0px);
	}
	100% {

		transform: translateY(-125px);
	}
}

/* ANIMATIONS */
@keyframes bgScroll-square {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -400px -400px;
	}
}

@keyframes LogoWOAH {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: scale(1.05) rotate(-3deg) scaleX(1.05);
	}
	50% {
		transform: scale(1) rotate(0deg) scaleX(0.95);
	}
	75% {
		transform: scale(1.05) rotate(3deg) scaleX(1.05);
	}
}

@keyframes peppinohitanim {
	0% {
		transform: translateX(-71) translateY(-110px) rotate(0);
		opacity: 100;
	}
	80% {
		transform: translateX(1100px) translateY(-90px) rotate(400deg);
		opacity: 100;
	}
	100% {
		transform: translateX(1400px) translateY(-90px) rotate(500deg);
		opacity: 0;
	}
}

/* STYLING */
a {
	color: #A80860;
}
a:hover {
	color: #E85098;
}
blockquote {
	background-clip: content-box;
	background-color: white;
	border: 1px solid black;
	border-image: url(img/spr_tv_bubble-EDITED.gif) 30 / 30px round;
	margin: 0.8rem 0;
	padding: 15px 20px 18px;
	width: fit-content;
	overflow: hidden;
}
blockquote>.said {
	float: right;
	margin: -1em 0 0;
}
blockquote>.said:before {
	content: "-";
}
blockquote>p:first-of-type {
	margin-top: 0;
}
blockquote>p:last-of-type {
	margin-bottom: 0;
}
button {
	background-color: #f878b0;
	background-clip: content-box;
	border: 1px solid black;
	border-image: url(img/button.png) 15 / 15px;
	font-family: inherit;
	font-size: inherit;
	padding: 0.5em;
	display: block;
}
button a, button a:hover {
	color: black;
}
button:hover {
	background-color: #e85098;
	border-image: url(img/buttonHover.png) 15 / 15px;
	cursor: pointer;
}
html {
	background-color: #e85098;
	background-image: url(img/PWP-scrolling-fade.png);
	animation: bgScroll-square 14s linear infinite;
}
html, body {
	font-family: "Pizza Tutorial";
	line-height: 1.5;
	font-size: 22px;
}
iframe {
	width: 100%;
	height: auto;
	max-width: 540px;
	aspect-ratio: 16/9;
}
body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 0 20%;
}
details>summary {
	cursor: pointer;
}
details, figure, .footercredits, .stickyNote {
	background-color: #f8f8d0;
	border: 3px solid transparent;
	border-image: url(img/noteBorder.png) 16 / 16px round round;
	background-clip: padding-box;
	margin: 0.8rem 0;
	padding: 0.5em 1em;
}
figure {
	margin: 1em 0;
}
figure>img {
	max-width: 600px;
	height: auto;
	display: block;
	margin: 0.5em auto 1em;
}
figure>figcaption>details {
	border: none;
	border-image: none;
	background-color: transparent;
	padding: 0;
}
figure>figcaption>details>p {
	margin: 0.5em 0;
}
figure, .footercredits {
	width: fit-content;
}
.footercredits {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Small Pizza";
	font-size: 0.8em;
	transform: rotate(1deg);
	z-index: 1;
	margin-top: -20px;
	margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
	text-align: center;
}
h1, h2, h3 {
	font-family: "Large Pizza";
}
h4, h5, h6 {
	font-family: "Small Pizza";
}
body>header {
	text-align: center;
}
body>header:hover {
	animation: LogoWOAH 1s linear infinite;
}
body>header>img {
	filter: drop-shadow(2px 2px 0px rgb(0, 0, 0));
}
hr {
	border-bottom: 2px solid black;
	border-image: url(img/PTWiki-underlineborder.png) 0 0 2 0 / 0 0 2px 0 round round;
}

nav {
	margin-bottom: -4px;
	text-align: center;
}
nav>ul {
	position: relative;
	margin-bottom: -36px;
	padding-left: 0;
	z-index: 0;
}
nav>ul>li {
	display: inline-block;
}
nav>ul>li>a {
	border: 2px solid transparent;
	border-top: 12px solid transparent;
	background-clip: padding-box;
	display: inline-block;
	font-family: "Small Pizza";
	padding: 0.2em 0.8em 1.8em;
}

/* Tabs! */
nav>ul>li:nth-child(1)>a {
	background-color: #58c000;
	border-image: url(img/tab1.png) 16 / 16px round round;
	transform: rotate(1.8deg);
	transition: 0.5s ease;
}
nav>ul>li:nth-child(1):hover>a {
	transition: 0.3s ease;
	transform: translateY(-10px) translateX(-5px) rotate(-5deg);
}
nav>ul>li:nth-child(2)>a {
	background-color: #e09000;
	border-image: url(img/tab2.png) 16 / 16px round round;
	transform: rotate(-3deg);
	transition: 0.5s ease;
}
nav>ul>li:nth-child(2):hover>a {
	transition: 0.3s ease;
	transform: translateY(-12px) translateX(7px) rotate(4deg);
}
nav>ul>li:nth-child(3)>a {
	background-color: #ec8f8f;
	border-image: url(img/tab3.png) 16 / 16px round round;
	transform: rotate(1.5deg);
	transition: 0.5s ease;
}
nav>ul>li:nth-child(3)>a:hover {
	transition: 0.3s ease;
	transform: translateY(-15px) translateX(2px) rotate(2deg);
}
nav>ul>li:nth-child(4)>a {
	background-color: #fda3f1;
	border-image: url(img/tab4.png) 16 / 16px round round;
	transform: rotate(-3deg);
	transition: 0.5s ease;
}
nav>ul>li:nth-child(4)>a:hover {
	transition: 0.3s ease;
	transform: translateY(-10px) translateX(5px) rotate(2deg);
}
nav>ul>li>a {
	text-decoration: none;
	align-items: center;
	justify-content: center;
	text-align: center;
}
nav>ul>li>a , nav>ul>li>a:hover {
	color: black;
}
ol {
	padding-left: 2em;
}
ol, ul {
	margin: 0.8em 0;
}
ul {
	padding-left: 1em;
}
p {
	margin: 1em 0;
}
s {
	opacity: 0.5;
}
small {
	font-size: 0.7em;
}
img.comic {
	aspect-ratio: 3287/1867;
	border: 1px solid black;
	max-height: 500px;
	width: 100%;
	height: auto;
}
.comics:not(.flex) {
	margin: 0 auto;
}
.comics.flex figure>img.comic, .comics.flex figure>a {
	margin: 0.5rem auto;
}
.comics.flex figure>a>img.comic {
	margin: 0.5rem auto 0;
}
.comics.flex>figure {
	flex-basis: 300px;
	margin: 0;
}
.comics.flex:last-child {
	margin-bottom: 1rem;
}
.flex {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
}
.flex>div {
	flex-grow: 1;
	flex-shrink: 1;
}
/* Video & Icon borders */
.stickyNote {
	width: fit-content;
}
.stickyNote>.video, figure>.video {
	position: relative;
	width: 100%;
	aspect-ratio: 16/9;
	max-width: 540px;
}
.stickyNote>.video>.border, figure>.video>.border {
	height: calc(100% - 12px);
}
.stickyNote>.video>.border, figure>.video>.border, figure>.iconHolder .border, .stickyNote>.iconHolder .border {
	border: 2px solid transparent;
	border-image: url(img/noteBorderInverse.png) 16 / 16px round round;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	width: 100%;
}
figure>.iconHolder .border, .stickyNote>.iconHolder .border {
	height: 100%;
}
figure>.video {
	margin: 0 auto;
}

.pageBody {
	display: inline-block;
	background-color: #f8e080;
	border: 3px solid transparent;
	border-left: 20px solid transparent;
	border-image: url(img/pageBody.png) 18 18 18 22 / 18px 18px 18px 22px round round;
	background-clip: padding-box;
	box-sizing: border-box;
	padding: 0.5em 3em;
	z-index: 1;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
}
/* FAQ */
.faq.flex {
	gap: 0.8rem;
}
.faq.flex>div {
	flex-basis: 500px;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
}
.faq .stickyNote {
	width: auto;
}
.faq .stickyNote>header {
	font-family: "Small Pizza";
	font-size: 0.8rem;
	border-bottom: 2px solid black;
	border-image: url(img/PTWiki-underlineborder.png) 0 0 2 0 / 0 0 2px 0 round round;
	margin: 0.8em 0 0.4em;
	padding: 0 0 0.3em;
}
.faq .stickyNote>header, .faq .stickyNote>header>span {
	border-bottom: 2px solid black;
	border-image: url(img/PTWiki-underlineborder.png) 0 0 2 0 / 0 0 2px 0 round round;
}
.faq .stickyNote>p {
	margin: 0.7em 0;
}

/*Footer stuff?*/

.footergroups {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	max-height: 300px;
	max-width: 300px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: transform 0.3s ease;
	transform: translateX(-306px);
}

.footergroups>img {
	position: fixed;
	z-index: 0;
	bottom: 0;
	left: 0;
	max-width: 300px;
	max-height: 300px;
}

.footergroups.transformed {
	transform: translateX(-6px);
}

.FooterTab {
	position: fixed; 
	left: 0;
	bottom: 75px;      
	z-index: 2;
	transition: transform 0.3s ease;
	transform: translateX(-20px);
}

.FooterTab.transformed {
	transform: translateX(280px);
}

.FooterTab>img {
	transition: transform 0.2s ease;
}

.FooterTab>img:hover {
	transform: translateX(11px) rotate(0deg);
}

.musicsection {
	position: relative;
	z-index: 1;
	width: 300px;
	height: 300px;
}

.track-art {
	display: inline;
	z-index: -5; 
	height: 300px;
	width: 300px;
	bottom: -100px;
	left: -100px;
	position: absolute;
	background-size: cover;
	pointer-events: none;
}

.track-art.transformed {
	animation: AlbumSpin 20s linear infinite;
}

.track-art-wrap {
	position: absolute;
	display: inline;
	z-index: -6;
	min-width: 100px;
	min-height: 100px;
}

.track-art-wrap.transformed {
	animation: AlbumRaise 1s ease-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/*CUSTOM ASSETS & ANIMATIONS */

.peppinohit {
	position:fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	transform: translateY(-110px) translateX(-71px);

}
.peppinohit.transformed {
	animation: peppinohitanim 0.7s linear;
	animation-iteration-count: 1;
}
/* NOT FOUND */
#notFoundImg {
	display: block;
	margin: 0.5em auto;
}
/* HOME PAGE */
#frontFlex {
	gap: 10px 20px;
	justify-content: center;
}
/* LATEST VIDEO */
#latestVideo {
	flex-basis: 500px;
	flex-grow: 0;
}
#latestVideo.flex {
	flex-flow: column;
	gap: 0;
}
#latestVideo>h4 {
	margin: 0 auto;
	text-align: center;
}
#openingBlurb {
	flex-basis: 250px;
}
#openingBlurb>p:first-of-type {
	margin-top: 0;
}
#openingBlurb>p:last-of-type {
	margin-bottom: 0;
}

/* Browser Sizes */
@media only screen and (max-width: 1920px) {
	body {
		padding: 0 15%;
	}
}
@media only screen and (max-width: 1600px) {
	body {
		padding: 0 7%;
	}
}
@media only screen and (max-width: 860px) {
	html {
		overflow-x: hidden;
	}
	.pageBody {
		position: relative;
		padding: 0.5em 1.5em;
		border-image: url(img/pageBody-mobile.png) 18 18 18 22 / 18px 18px 18px 22px round round;
	}
	body {
		margin: 0;
		padding: 0;
	}
	.footercredits {
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {
	html {
		overflow-x: hidden;
	}
	.pageBody {
		position: relative;
		padding: 0.5em 1.5em 0.5em 2em;
		border-left: 0;
		border-right: 0;
		border-image: url(img/pageBody-mobile.png) 4 0 4 0 / 4px 0 4px 0 round round;
	}
	body {
		margin: 0;
	}
	nav>ul>li>a {
		border: 2px solid transparent;
		border-top: 12px solid transparent;
		background-clip: padding-box;
		display: inline-block;
		font-family: "Small Pizza";
		font-size: 0.9em;
		padding: 0.2em 0.3em 1.8em;
	}
	.footercredits {
		width: 100%;
	}
}