/* FONTS */
@font-face {
		font-family: "Pizza Tutorial"; 
		src: url("font/Pizza Tutorial.ttf") format("truetype"); /*https://drive.google.com/file/d/1MVQ8b1N8qh_UmNnUoJb6s_4N4e0uCMHR/view*/
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		-webkit-font-smoothing: none;
}
@font-face {
		font-family: "Small Pizza"; 
		src: url("font/Small Pizza Inline.ttf") format("truetype"); /*https://drive.google.com/file/d/1MVQ8b1N8qh_UmNnUoJb6s_4N4e0uCMHR/view*/
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		-webkit-font-smoothing: none;
}
@font-face {
		font-family: "Large Pizza"; 
		src: url("font/Big Pizza Inline.ttf") format("truetype"); /*https://drive.google.com/file/d/1MVQ8b1N8qh_UmNnUoJb6s_4N4e0uCMHR/view*/
		font-weight: normal;
		font-style: normal;
		font-display: swap;
		-webkit-font-smoothing: none;
}

/* ANIMATIONS */
@keyframes bgScroll-square {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -400px -400px;
	}
}

/* STYLING */
html {
	background-color: #e85098;
	background-image: url(img/PWP-scrolling-fade.png);
	animation: bgScroll-square 14s linear infinite;
}
html, body {
	font-family: "Pizza Tutorial";
	line-height: 1.5;
	font-size: 22px;
}
body {
	margin: 1rem;
}
details {
	
}
details>summary {
	cursor: pointer;
}
details, figure, footer {
	background-color: #f8f8d0;
	border: 3px solid transparent;
	border-image: url(img/noteBorder.png) 16 / 16px round round;
	background-clip: padding-box;
	padding: 0.5em 1em;
}
figure {
	margin: 1em 0;
}
figure>img {
	max-width: 600px;
	height: auto;
	display: block;
	margin: 0.5em auto 1em;
}
figure, footer {
	width: fit-content;
}
footer {
	text-align: center;
	margin: -5px auto 0;
	font-family: "Small Pizza";
	font-size: 0.8em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}
h1, h2, h3 {
	font-family: "Large Pizza";
}
h4, h5, h6 {
	font-family: "Small Pizza";
}
header {
	text-align: center;
}
header>img {
	filter: drop-shadow(2px 2px 0px rgb(0, 0, 0));
}
hr {
	border-bottom: 2px solid black;
	border-image: url(img/PTWiki-underlineborder.png) 0 0 2 0 / 0 0 2px 0 round round;
}

nav {
	margin-bottom: -4px;
	text-align: center;
}
nav>ul {
	position: relative;
	margin-bottom: -36px;
	margin-left: -32px;
	z-index: 0;
}
nav>ul>li {
	display: inline-block;
}
nav>ul>li>a {
	border: 2px solid transparent;
	border-top: 12px solid transparent;
	background-clip: padding-box;
	display: inline-block;
	font-family: "Small Pizza";
	padding: 0.2em 0.8em 1.8em;
}

/* Tabs! */
nav>ul>li:nth-child(1)>a {
	background-color: #58c000;
	border-image: url(img/tab1.png) 16 / 16px round round;
	transition: 0.5s ease;
}
nav>ul>li:nth-child(1):hover>a {
	transition: 0.3s ease;
	transform: translateY(-10px) translateX(-5px) rotate(-5deg);
}
nav>ul>li:nth-child(2)>a {
	background-color: #e09000;
	border-image: url(img/tab2.png) 16 / 16px round round;
	transition: 0.5s ease;
}
nav>ul>li:nth-child(2):hover>a {
	transition: 0.3s ease;
	transform: translateY(-12px) translateX(7px) rotate(4deg);
}
nav>ul>li:nth-child(3)>a {
	background-color: #ec8f8f;
	border-image: url(img/tab3.png) 16 / 16px round round;
	transition: 0.5s ease;
}
nav>ul>li:nth-child(3)>a:hover {
	transition: 0.3s ease;
	transform: translateY(-15px) translateX(2px) rotate(2deg);
}
nav>ul>li:nth-child(4)>a {
	background-color: #fda3f1;
	border-image: url(img/tab4.png) 16 / 16px round round;
	transition: 0.5s ease;
}
nav>ul>li:nth-child(4)>a:hover {
	transition: 0.3s ease;
	transform: translateY(-13px) translateX(-2px) rotate(-3deg);
}
nav>ul>li>a {
	color: black;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	text-align: center;
}
ol {
	padding-left: 2em;
}
ol, ul {
	margin: 0.8em 0;
}
ul {
	padding-left: 1em;
}
p {
	margin: 1em 0;
}
s {
	opacity: 0.5;
}
.pageBody {
	position: relative;
	background-color: #f8e080;
	border: 3px solid transparent;
	border-left: 20px solid transparent;
	border-image: url(img/pageBody.png) 18 18 18 22 / 18px 18px 18px 22px round round;
	background-clip: padding-box;
	padding: 0.5em 3em;
	margin: 0 15%;
	z-index: 1;
}

/* Browser Sizes */
@media only screen and (max-width: 1920px) {
	.pageBody {
		margin: 0 10%;
	}
}
@media only screen and (max-width: 860px) {
	.pageBody {
		padding: 0.5em 1.5em;
		margin: 0;
	}
	body {
		margin: 0;
	}
}

@media only screen and (max-width: 640px) {
	.pageBody {
		padding: 0.5em 1.5em;
		margin: 0;
	}
	body {
		margin: 0;
	}
	nav>ul>a {
		border: 2px solid transparent;
		border-top: 12px solid transparent;
		background-clip: padding-box;
		display: inline-block;
		font-family: "Small Pizza";
		font-size: 0.9em;
		padding: 0.2em 0.3em 1.8em;
	}
}