/* this is cause i wanna keep things Relatively Organized */
.staffHolder.flex {
	justify-content: center;
	align-items: stretch;
	gap: 20px;
}
.staffHolder>figure {
	flex-basis: 200px;
	text-align: center;
}
.staffHolder>figure>figcaption>h5, .staffHolder>figure>figcaption>p {
	margin: 0.5em 0;
}
/* STAFF ICONS */
.iconHolder {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.iconHolder>.staffIcon {
	max-height: 100px;
	width: auto;
	height: auto;
	display: block;
	content: url(img/staff/placeholder.gif);
}

/* FAKE STAFF ICONS */
#bucket .staffIcon {
	content: url(img/staff/fake/bucket_norm.gif);
	background-color: #4e6786; /* peppibot factory */
}
#bucket:hover .staffIcon {
	content: url(img/staff/fake/bucket_hover.gif);
}

#dougie .staffIcon {
	content: url(img/staff/fake/dougie_norm.gif);
	background-color: #d868a0; /* comic where dougie debutes */
}
#dougie:hover .staffIcon {
	content: url(img/staff/fake/dougie_hover.gif);
}

#fake .staffIcon {
	content: url(img/staff/fake/fake_norm.gif);
	background-color: #9c7a9c; /* fake pep arena bg color */
}
#fake:hover .staffIcon {
	content: url(img/staff/fake/fake_hover.gif);
}
#fake:hover .iconHolder:after {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	display: block;
	width: 140px;
	height: 140px;
	background-image: url(img/staff/fake/fake_hands.gif);
}

#gusbrick .staffIcon {
	content: url(img/staff/fake/gusbrick_norm.gif);
	background-color: #986e48; /* gnome forest tree bg */
}
#gusbrick:hover .staffIcon {
	content: url(img/staff/fake/gusbrick_hover.gif);
}

#incognito .staffIcon {
	content: url(img/staff/fake/incognito_norm.gif);
	background-color: #c3bda7; /* noisette cafe window */
}
#incognito:hover .staffIcon {
	content: url(img/staff/fake/incognito_hover.gif);
}

#maurice .staffIcon {
	content: url(img/staff/fake/maurice_norm.gif);
	background-color: #d89060; /* swap mode end card */
}
#maurice:hover .staffIcon {
	content: url(img/staff/fake/maurice_hover.gif);
}

#noise .staffIcon {
	content: url(img/staff/fake/noise_norm.gif);
	background-color: #905ed4; /* noise arena bg */
}
#noise:hover .staffIcon {
	content: url(img/staff/fake/noise_hover.gif);
}

#noisette .staffIcon {
	content: url(img/staff/fake/noisette_norm.gif);
	background-color: #c3bda7; /* noisette cafe window */
}
#noisette:hover .staffIcon {
	content: url(img/staff/fake/noisette_hover.gif);
}

#pep .staffIcon {
	content: url(img/staff/fake/pep_norm.gif);
	background-color: #7a6f8f; /* john gutter ourple */
}
#pep:hover .staffIcon {
	content: url(img/staff/fake/pep_hover.gif);
}

#pepper .staffIcon {
	content: url(img/staff/fake/pepper_norm.gif);
	background-color: #5e5e8b; /* pepperman arena bg */
}
#pepper:hover .staffIcon {
	content: url(img/staff/fake/pepper_hover.gif);
}

#stick .staffIcon {
	content: url(img/staff/fake/stick_norm.gif);
	background-color: #907870; /* unused stick arena floor */
}
#stick:hover .staffIcon {
	content: url(img/staff/fake/stick_hover.gif);
}

#vigi .staffIcon {
	content: url(img/staff/fake/vigi_norm.gif);
	background-color: #5896d4; /* vigi arena bg */
}
#vigi:hover .staffIcon {
	content: url(img/staff/fake/vigi_hover.gif);
}

/* ACTUAL STAFF ICONS */

#alex .staffIcon {
	content: url(img/staff/true/Alex_normal.gif);
	background-color: #c88048; /* fastfood saloon */
}
#alex:hover .staffIcon {
	content: url(img/staff/true/Alex_hover.gif);
}

#beefy .staffIcon {
	content: url(img/staff/true/beefy_norm.gif);
	background-color: #462C55; /* john gutter */
}
#beefy:hover .staffIcon {
	content: url(img/staff/true/beefy_hover.gif);
}

#berry .staffIcon {
	content: url(img/staff/true/berry_norm.gif);
	background-color: #B03000; /* bloodsauce dungeon */
}
#berry:hover .staffIcon {
	content: url(img/staff/true/berry_hover.gif);
}

#bones .staffIcon {
	content: url(img/staff/true/bones_norm.gif);
	background-color: #305078; /* pizzascare */
}
#bones:hover .staffIcon {
	content: url(img/staff/true/bones_hover.gif);
}

#carrot .staffIcon {
	content: url(img/staff/true/carrot_norm.gif);
	background-color: #A850F8; /* deep-dish 9 */
}
#carrot:hover .staffIcon {
	content: url(img/staff/true/carrot_hover.gif);
}

#dough .staffIcon {
	content: url(img/staff/true/dough_norm.gif);
	background-color: #c88048; /* fastfood saloon */
}
#dough:hover .staffIcon {
	content: url(img/staff/true/dough_hover.gif);
}

#fran .staffIcon {
	content: url(img/staff/true/fran_norm.gif);
	background-color: #882858; /* ancient cheese */
}
#fran:hover .staffIcon {
	content: url(img/staff/true/fran_hover.gif);
}

#freeman .staffIcon {
	content: url(img/staff/true/Freeman_norm.gif);
	background-color: #C34726; /* WAR */
}
#freeman:hover .staffIcon {
	content: url(img/staff/true/Freeman_hover.gif);
}

#gab .staffIcon {
	content: url(img/staff/true/gab_norm.gif);
	background-color: #c88048; /* fastfood saloon */
}
#gab:hover .staffIcon {
	content: url(img/staff/true/gab_hover.gif);
}

#jel .staffIcon {
	content: url(img/staff/true/jel_norm.gif);
	background-color: #B03000; /* bloodsauce dungeon */
}
#jel:hover .staffIcon {
	content: url(img/staff/true/jel_hover.gif);
}

#kitt .staffIcon {
	content: url(img/staff/true/kitt_norm.gif);
	background-color: #A850F8; /* deepdish 9 */
}
#kitt:hover .staffIcon {
	content: url(img/staff/true/kitt_hover.gif);
}

#kat .staffIcon {
	content: url(img/staff/true/kat_norm.gif);
	background-color: #982800; /* gnome forest */
}
#kat:hover .staffIcon {
	content: url(img/staff/true/kat_hover.gif);
}

#lex .staffIcon {
	content: url(img/staff/true/lex_norm.gif);
	background-color: #A850F8; /* deep-dish 9 */
}
#lex:hover .staffIcon {
	content: url(img/staff/true/lex_hover.gif);
}

#lolo .staffIcon {
	content: url(img/staff/true/lolo_norm.gif);
	background-color: #9FBBD6; /* peppibot factory */
}
#lolo:hover .staffIcon {
	content: url(img/staff/true/lolo_hover.gif);
}

#makee .staffIcon {
	content: url(img/staff/true/makee_norm.gif);
	background-color: #2850A8; /* freezerator */
}
#makee:hover .staffIcon {
	content: url(img/staff/true/makee_hover.gif);
}

#moon .staffIcon {
	content: url(img/staff/true/moon_norm.gif);
	background-color: #462C55; /* john gutter */
}
#moon:hover .staffIcon {
	content: url(img/staff/true/moon_hover.gif);
}

#moose .staffIcon {
	content: url(img/staff/true/moose_norm.gif);
	background-color: #D07808; /* pig city */
}
#moose:hover .staffIcon {
	content: url(img/staff/true/moose_hover.gif);
}

#ecuello .staffIcon {
	content: url(img/staff/true/ecuello_norm.gif);
	background-color: #9FBBD6; /* peppibot factory */
}
#ecuello:hover .staffIcon {
	content: url(img/staff/true/ecuello_hover.gif);
}

#lotus .staffIcon {
	content: url(img/staff/true/lotus_norm.gif);
	background-color: #D868A0; /* crust cove */
}
#lotus:hover .staffIcon {
	content: url(img/staff/true/lotus_hover.gif);
}

#pie .staffIcon {
	content: url(img/staff/true/Pie_norm.gif);
	background-color: #869530; /* oh sh!t */
}
#pie:hover .staffIcon {
	content: url(img/staff/true/Pie_hover.gif);
}

#seji .staffIcon {
	content: url(img/staff/true/seji_norm.gif);
	background-color: #C34726; /* war */
}
#seji:hover .staffIcon {
	content: url(img/staff/true/seji_hover.gif);
}

#skel .staffIcon {
	content: url(img/staff/true/skel_norm.gif);
	background-color: #C34726; /* war */
}
#skel:hover .staffIcon {
	content: url(img/staff/true/skel_hover.gif);
}

#skl .staffIcon {
	content: url(img/staff/true/skl_norm.gif);
	background-color: #C34726; /* war */
}
#skl:hover .staffIcon {
	content: url(img/staff/true/skl_hover.gif);
}

#skully .staffIcon {
	content: url(img/staff/true/skully_norm.gif);
	background-color: #462C55; /* john gutter */
}
#skully:hover .staffIcon {
	content: url(img/staff/true/skully_hover.gif);
}

#squid .staffIcon {
	content: url(img/staff/true/dakota_normal.gif);
	background-color: #c88048; /* fastfood saloon */
}
#squid:hover .staffIcon {
	content: url(img/staff/true/dakota_hover.gif);
}

#toon .staffIcon {
	content: url(img/staff/true/toon_norm.gif);
	background-color: #58C000; /* golf */
}
#toon:hover .staffIcon {
	content: url(img/staff/true/toon_hover.gif);
}

#uuber .staffIcon {
	content: url(img/staff/true/Uber_norm.gif);
	background-color: #7a6f8f; /* john gutter ourple */
}
#uuber:hover .staffIcon {
	content: url(img/staff/true/Uber_hover.gif);
}

#wallet .staffIcon {
	content: url(img/staff/true/Walletlad_normal.gif);
	background-color: #B03000; /* bloodsauce dungeon */
}
#wallet:hover .staffIcon {
	content: url(img/staff/true/Walletlad_hover.gif);
}

#wild .staffIcon {
	content: url(img/staff/true/wild_norm.gif);
	background-color: #C88048; /* fastfood saloon */
}
#wild:hover .staffIcon {
	content: url(img/staff/true/wild_hover.gif);
}

#virus .staffIcon {
	content: url(img/staff/true/Virus_norm.gif);
	background-color: #449eda /* fun farm */
}
#virus:hover .staffIcon {
	content: url(img/staff/true/Virus_Hover.gif);
}

#zaid .staffIcon {
	content: url(img/staff/true/zaid_norm.gif);
	background-color: #C34726; /* war */
}
#zaid:hover .staffIcon {
	content: url(img/staff/true/zaid_hover.gif);
}

/* STAFF CREDIT LINKS */
ul.creditLink {
	padding: 0;
	margin-bottom: 0.5em;
	justify-content: center;
	list-display: none;
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
}
ul.creditLink>li, ul.creditLink>li a {
	display: block;
}
ul.creditLink>li a, ul.creditLink>li img {
	height: 30px;
	width: 30px;
	overflow: hidden;
}
ul.creditLink>li img {
	content: url(img/credit/siteIcons.png);
	object-fit: cover;
	filter: invert(12%) sepia(75%) saturate(5341%) hue-rotate(317deg) brightness(87%) contrast(99%);
	flex-basis: 30px;
}
ul.creditLink>li img:hover {
	filter: invert(45%) sepia(34%) saturate(1311%) hue-rotate(283deg) brightness(94%) contrast(92%);
}
ul.creditLink>li img.twitter {
	object-position: 0 0;
}
ul.creditLink>li img.bsky {
	object-position: -31px 0;
}
ul.creditLink>li img.tumblr {
	object-position: -62px 0;
}
ul.creditLink>li img.sheezy {
	object-position: -93px 0;
}
ul.creditLink>li img.youtube {
	object-position: -124px 0;
}
ul.creditLink>li img.site {
	object-position: -155px 0;
}
ul.creditLink>li img.soundcloud {
	object-position: -186px 0;
}

/* SITE CREDITS */
#siteCredit p, #siteCredit h4, #siteCredit h5, #siteCredit h6 {
	margin: 0.5em 0;
}
#siteCredit>div {
	width: auto;
}
.flex#siteCredit>div {
	flex-basis: 400px;
}
.subCredit>div {
	flex-basis: 150px;
}
.subCredit>div h5, .subCredit>div h6 {
	border-bottom: 2px solid black;
	border-image: url(../img/PTWiki-underlineborder.png) 0 0 2 0 / 0 0 2px 0 round round;
}
.subCredit>div ul {
	margin: 0.5em 0;
}